In [2]:
import pandas as pd

#### open files

ner_test = pd.read_csv('NER-test.tsv', sep='\t')
sentiment_topic_test = pd.read_csv('sentiment-topic-test.tsv', sep='\t')

ner_test

     sentence id  token id      token BIO NER tag
0              0         0          I           O
1              0         1      would           O
2              0         2        n't           O
3              0         3         be           O
4              0         4     caught           O
..           ...       ...        ...         ...
188            9        10    HOOOKED           O
189            9        11       from           O
190            9        12        the           O
191            9        13  beginning           O
192            9        14          .           O

[193 rows x 4 columns]